// Header
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &__logo {
        margin-left: 25px;
        padding: 0.5em;
        
        &--img {
            height: 50px;
        }
    }
}

.NavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Nav {
    margin-right: 25px;
    transition: 500ms ease;

    &--open {
        max-height: 500px !important;
    }

    &__item {
        display: inline-block;
        margin-left: 25px;

        &:first-of-type {
            margin-left: 0px;
        }

        &--link {
            font-family: Roboto, sans-serif;
            font-size: 1.2em;
            color: #b3b3b3;
            text-decoration: none;
            padding: 0.3em;
            transition: 200ms ease-in-out;

            &--active {
                color: #131313;
            }

            &:hover, &:focus {
                color: #131313;
            }
        }
    }
}

.MenuIcon {
    font-family: Roboto;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 0.5em 1em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 25px;
    display: none;
    transition: 200ms ease;

    &--active {
        background-color: #000000;
        color: #ffffff;
    }
}

.Social {
    margin-right: 25px;

    &__item {
        display: inline-block;
        margin-left: 15px;

        &:first-of-type {
            margin-left: 0px;
        }

        &--link {
            display: block;
            color: #000;
            padding: 0.5em;
            transition: 200ms ease-in-out;

            &--icon {
                height: auto;
                width: 25px;
            }

            &:hover, &focus {
                color: #929292;
                fill: #929292;
            }
        }
    }
}

//Shop Banner
.ShopBanner {

    &__link {
        display: block;
        text-decoration: none;
        overflow: hidden;

        &:hover {

            .ShopBanner__link--banner {
                .ShopBanner__link--tint {
                    opacity: 0.75;
                }
            }

            .ShopBanner__link--heading {
                color: #000000;

                &:before {
                    width: 100%;
                }
            }
        }

        &--banner {
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;

            &:after {
                filter: blur(16px);
                transform: scale(1.04);
            }
        }
    
        &--heading {
            position: relative;
            z-index: 6;
            font-family: Roboto, sans-serif;
            font-size: 3em;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
            color: #f7f7f7;
            border: 10px solid #f7f7f7;
            padding: 0.5em 1em;
            transition: 200ms ease-in-out;
            text-align: center;

            &:before{
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: #f7f7f7;
                transition: 400ms ease;
            }
        }

        &--tint {
            position: absolute;
            z-index: 5;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.5;
            transition: 200ms ease-in-out;
        }
    }
}

.RecentArticles {

    &__heading {
        font-family: Roboto;
        font-size: 42px;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 25px;
        margin-left: 25px;
    }

    &__articlesContainer {
        margin: 50px 25px;

        &--link {
            text-decoration: none;
            color: #000000;

            &:hover {
                .RecentArticles__articlesContainer--article {
                    box-shadow: 15px 5px 25px rgba(0, 0, 0, 0.1);
                    border-color: transparent;
                }
            }
        }

        &--article {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            margin: 50px 0px;
            padding: 25px;
            border: 2px solid #000000;
            transition: 300ms ease-in-out;
            max-width: 100%;

            &--img {
                margin-right: 25px;
            }

            &--headings {
                display: inline-block;
                width: 40%;
            }

            &--heading {
                font-family: TheLightFont;
                font-weight: bold;
                font-size: 38px;
                margin-bottom: 25px;
                text-transform: uppercase;
                margin-top: 0px;
                
            }

            &--subheading {
                font-family: IowanOldStyle;
                font-weight: 100;
                font-size: 26px;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            &--date {
                font-size: 16px;
                font-family: AndaleMono;
                font-weight: 100;
                margin-bottom: 15px;
                color: #3f3f3f;
            }

            &--author {
                margin-bottom: 10px;
                display: inline-block;
            }

            &--description {
                font-family: IowanOldStyle;
                font-size: 18px;
            }
        }
    }
}

// Article Roll
.ArticleRoll {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;

    &__article {
        width: 450px;
        min-width: auto;
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        border: 2px solid #1d1d1d;
        transition: 500ms ease;

        &--img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        &--heading {
            font-family: TheLightFont, sans-serif;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            margin-top: 25px;
        }

        &--subheading {
            font-family: Slabo, serif;
            font-weight: 300;
            font-size: 22px;
            text-align: center;
            margin: 25px 0;
        }

        &--meta {
            font-family: AndaleMono, monospace;
            font-weight: 300;
            text-align: center;
            color: #3c3b3b;
            margin-bottom: 15px;
        }

        &--section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        &--desc {
            font-family: AvenirNextPro;
            font-weight: 300;
            text-align: center;
            max-width: 85%;
            margin-bottom: 15px;
        }

        &--link {
            display: block;
            width: 100%;
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            border: 1px solid black;
            padding: 0.5em 0px;
            text-align: center;
            transition: 200ms ease-in-out;

            &:hover {
                color: #ffffff;
                background-color: #000;
            }
        }
    }
}

// Fashion Hero
.TwoPostHero {
    position: relative;
    z-index: 20;
    height: calc(100vh - 80px);
    overflow: hidden;

    &__link {
        text-decoration: none;
        color: #ffffff;
    }

    &__backgroundImage {
        position: absolute !important;
        top: 0;
        height: 100%;
        width: 100%;

        &--left {
            clip-path: polygon(0 0, 0 100%, 100% 100%);
        }

        &--right {
            clip-path: polygon(100% 0, 0 0, 100% 100%);
        }

        &:hover {
            .TwoPostHero__tint {
                opacity: 0.75;
            }
        }

        &:after {
            filter: blur(16px);
            transform: scale(1.04);
        }
    }

    &__titleContainer {
        position: absolute;
        z-index: 10;

        &--left {
            bottom: 30px;
            left: 30px;
        }

        &--right {
            top: 30px;
            right: 30px;
            text-align: right;
        }
    }

    &__heading {
        font-family: Roboto;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 25px;

        &--left {
            max-width: 50%;
        }
    }

    &__subheading {
        font-family: Roboto;
        font-weight: 500;
        font-size: 22px;
    }

    &__tint {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.25;
        transition: 300ms ease;
    }
}

// Article Template

.Article {
    margin-top: 150px;

    &__date {
        font-size: 18px;
        text-align: center;
        color: #272727;
    }

    &__heading {
        font-size: 50px;
        text-align: center;
        line-height: 3em;
        margin: 50px 0px;
        margin-bottom: 15px;
    }

    &__subheading {
        text-align: center;
        font-size: 14px;
        letter-spacing: 5px;
        margin: 50px 0px;
        margin-top: 15px;
    }

    &__author {
        text-align: center;
        margin: 50px 0px;
        letter-spacing: 2px;
    }

    &__container {
        max-width: 50%;
        margin: auto;

        & h4 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }


        & p {
            margin-bottom: 50px;
            font-size: 18px;
            line-height: 1.5em;

            & img {
                display: block;
                max-width: 100%;
                margin: auto;
            }
        }
    }

    &__credits {
        max-width: 50%;
        margin: auto;
        font-family: AndaleMono;

        &--heading {
            font-size: 20px;
            font-weight: bold;
            margin: 25px 0px
        }

        &--credit {
            font-size: 18px;
            margin: 5px 0px;
        }
    }
}

.Shop {
    max-width: 50%;
    margin: auto;

    &__price {
        font-family: TheLightFont;
        font-size: 40px;
        font-weight: 100;
        margin: 25px 0px;
    }

    &__heading {
        font-family: TheLightFont;
        font-size: 52px;
        font-weight: bold;
        max-width: 65%;
        margin: 25px 0px;
        margin-top: 0px;
        line-height: 1.2em;
    }

    &__rule {
        max-width: 35%;
        margin-left: 0px;
        border-style: solid;
        border-width: 2px;
        margin-bottom: 75px;
    }

    &__description {
        font-family: IowanOldStyle;
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 50px;
    }

    &__details {
        white-space: pre-line;
        font-family: AvenirNextPro;
        font-size: 17px;
        margin-bottom: 50px;
    }

    &__galleryImages {
        &--img {
            margin: 5px 0px;
        }
    }
}

.About {
    &__title {
        font-family: AvenirNextPro;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 50%;

        &--headings {
            display: flex;
            justify-content: center;
            align-items: center;

            &--heading {
                font-family: TheLightFont;
                font-size: 30px;
                margin: 50px;
                margin-left: 0px;
            }

            &--subheading {
                font-family: Pixeland;
                font-size: 30px;
            }
        }

        &--img {
            width: 50%;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 50%;

        &--description {
            max-width: 75%;
            font-family: IowanOldStyle;
            font-size: 18px;
            line-height: 1.2em;
        }

        &--founder {
            margin: 50px 0px;

            &--heading {
                display: inline-block;
                font-family: AvenirNextPro;
                font-size: 24px;
            }

            &--name {
                display: inline-block;
                font-family: BudhayantiScript;
                font-size: 24px;
                margin-left: 15px;
            }
        }

        &--social {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            &--heading {
                font-family: AvenirNextPro;
                font-size: 24px;
                margin-bottom: 25px;
            }
        }

        &--contact {
            text-align: center;

            &--heading {
                font-family: TheLightFont;
                font-size: 30px;
                margin: 25px 0px;
            }

            &--link {
                font-family: AvenirNextPro;
                font-size: 18px;
            }

            &--text {
                font-family: AvenirNextPro;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 25px;
            }
        }
    }
}

.Footer {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    &__copyright {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
    }
}

// Custom Changes
.gatsby-resp-image-background-image {
    filter: blur(16px);
    transform: scale(1.04);
}

// Media Queries 
@media(max-width: 1200px) {
    .About {
        &__container {
            flex-direction: column;
        }

        &__left {
            max-width: 100%;

            &--img {
                width: 75%;
            }

            &--headings {
                &--subheading {
                    font-weight: 100;
                }
            }
        }

        &__right {
            max-width: 100%;

            &--description {
                margin-top: 50px;
                text-align: center;
            }
        }
    }
}

@media(max-width: 1050px) {
    .Header {
        flex-direction: column;
        height: auto;

        &__logo {
            margin: 0;
            margin-bottom: 25px;
        }
    }

    .Nav {
        margin: 0;
        margin-bottom: 25px;
    }

    .Social {
        margin: 0;
        margin-bottom: 15px;
    }

    .Article {
        margin-top: 50px;

        &__container {
            max-width: 100%;
            margin: 0px 25px;
        }

        &__credits {
            max-width: 100%;
            margin: 0px 25px;
        }
    }
}

@media(max-width: 950px) {
    .RecentArticles {

        &__articlesContainer {
            &--article {
                &--img {
                    margin-right: 0px;
                    width: 100% !important;
                    height: 400px !important;
                }
    
                &--headings {
                    width: 100%;
                }

                &--heading {
                    margin-top: 25px;
                }
            }
        }   
    }
}

@media(max-width: 800px) {
    .ShopBanner {
        &__link {
            &--heading {
                font-size: 2em;
                border-width: 5px;
            }
        }
    }

    .Shop {
        max-width: 75%;
    }
}

@media(max-width: 650px) {
    .ArticleRoll {
        max-width: 100%;
        margin: 0px 15px;

        &__article {
            margin: 25px 0px;
        }
    }
}

@media(max-width: 560px) {
    .Header {
        &__logo {
            order: 1;
        }
    }
    .Social {
        order: 2;
    }
    .Nav {
        max-height: 0;
        overflow: hidden;
        width: auto;
        order: 0;

        &__item {
            display: block;
            margin: 0;
            text-align: center;
            padding: 15px;
        }
    }
    .MenuIcon {
        display: block;
    }

    .ShopBanner {
        &__link {
            &--heading {
                font-size: 1.6em;
                margin: 15px;
            }
        }
    }

    .Shop {
        max-width: 100%;
        margin: 0px 25px;

        &__price {
            font-size: 30px;
        }

        &__heading {
            font-size: 42px;
            max-width: 100%;
        }
    }

    .About {
        &__right {
            &--founder {
                text-align: center;

                &--heading {
                    margin-bottom: 15px;
                }

                &--name {
                    line-height: 1.5em;
                }
            }

            &--social {
                &--heading {
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 420px) {
    .RecentArticles {
        &__articlesContainer {
            margin: 50px 15px;

            &--article {
                padding: 10px;

                &--img {
                    height: 200px !important;
                }

                &--heading {
                    font-size: 30px;
                }

                &--subheading {
                    font-size: 22px;
                }
            }
        }
    }

    .TwoPostHero__heading {
        font-size: 26px;
    }

    .Shop {
        margin: 0px 15px;

        &__price {
            font-size: 26px;
        }

        &__heading {
            font-size: 38px;
        }
    }

    .ArticleRoll {
        &__article {
            &--img {
                height: 200px;
            }
            &--heading {
                font-size: 28px;
            }
        }
    }

    .Article {
        &__heading {
            font-size: 42px;
            line-height: 2em;
        }
    }

    .About {
        margin: 0px 15px;

        &__title {
            margin-top: 25px;
        }

        &__left {
            &--headings {
                &--heading {
                    font-size: 24px;
                }

                &--subheading {
                    font-size: 24px;
                }
            }

            &--img {
                width: 100%;
            }
        }

        &__right {
            &--description {
                max-width: 100%;
            }
        }
    }
}

@media(max-width: 360px) {
    .About {
        &__left {
            &--headings {
                &--heading {
                    font-size: 20px;
                }

                &--subheading {
                    font-size: 20px;
                }
            }
        }
    }
}

@media(max-width: 320px) {
    .Article {
        margin-top: 15px;

        &__heading {
            font-size: 38px;
            margin: 50px 10px;
        }

        &__container {
            margin: 0px 10px;
        }

        &__credits {
            margin: 0px 10px;
        }
    }

    .TwoPostHero {
        &__heading {
            margin-left: 25%;
        }
    }
}