// Header
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &__logo {
        margin-left: 25px;
        padding: 0.5em;
        
        &--img {
            height: 50px;
        }
    }
}

.Nav {
    margin-right: 25px;

    &__item {
        display: inline-block;
        margin-left: 25px;

        &:first-of-type {
            margin-left: 0px;
        }

        &--link {
            font-family: Roboto, sans-serif;
            font-size: 1.2em;
            color: #b3b3b3;
            text-decoration: none;
            padding: 0.3em;
            transition: 200ms ease-in-out;

            &--active {
                color: #131313;
            }

            &:hover, &:focus {
                color: #131313;
            }
        }
    }
}

.Social {
    margin-right: 25px;

    &__item {
        display: inline-block;
        margin-left: 15px;

        &:first-of-type {
            margin-left: 0px;
        }

        &--link {
            display: block;
            color: #000;
            padding: 0.5em;
            transition: 200ms ease-in-out;

            &--icon {
                height: auto;
                width: 25px;
            }

            &:hover, &focus {
                color: #929292;
                fill: #929292;
            }
        }
    }
}

//Shop Banner
.ShopBanner {

    &__link {
        text-decoration: none;

        &:hover {

            .ShopBanner__link--banner {
                &:after {
                    opacity: 0.75;
                }
            }

            .ShopBanner__link--heading {
                padding: 0.8em 1.2em;
            }
        }

        &--banner {
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
            background-image: url("../img/shopCover.jpg");
            background-size: cover;
            background-position: center;
        
            &:after {
                content: '';
                position: absolute;
                z-index: 5;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0.25;
                transition: 200ms ease-in-out;
            }
        }
    
        &--heading {
            position: relative;
            z-index: 6;
            font-family: Roboto, sans-serif;
            font-size: 3em;
            font-weight: 900;
            text-transform: uppercase;
            color: #f7f7f7;
            border: 5px solid #f7f7f7;
            padding: 0.5em 1em;
            transition: 200ms ease-in-out;
        }
    }
}

.RecentArticles {

    &__heading {
        font-family: Roboto;
        font-size: 42px;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 25px;
        margin-left: 25px;
    }

    &__articlesContainer {
        margin: 50px 25px;

        &--link {
            text-decoration: none;
            color: #000000;

            &:hover {
                .RecentArticles__articlesContainer--article {
                    box-shadow: 25px 10px 25px rgba(0, 0, 0, 0.1);
                    background-color: #fdfdfd;
                    border-color: #dfdfdf;
                }
            }
        }

        &--article {
            height: 300px;
            margin: 50px 0px;
            overflow: hidden;
            padding: 25px;
            border: 2px solid #000000;
            display: flex;
            transition: 500ms ease;

            &--img {
                margin-right: 50px;
            }

            &--headings {
                display: inline-block;
            }

            &--heading {
                font-family: TheLightFont;
                font-weight: bold;
                font-size: 34px;
                margin-bottom: 25px;
                text-transform: uppercase;
                
            }

            &--subheading {
                font-family: IowanOldStyle;
                font-size: 26px;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            &--date {
                font-size: 16px;
                margin-bottom: 15px;
                color: #3f3f3f;
                font-family: AndaleMono;
            }

            &--author {
                margin-bottom: 10px;
                display: inline-block;
            }

            &--description {
                max-width: 50%;
                font-family: IowanOldStyle;
                font-size: 18px;
            }
        }
    }
}

// Article Roll
.ArticleRoll {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;

    &__article {
        width: 450px;
        min-width: auto;
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        border: 2px solid #1d1d1d;
        transition: 500ms ease;

        &--img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        &--heading {
            font-family: TheLightFont, sans-serif;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            margin-top: 25px;
        }

        &--subheading {
            font-family: Slabo, serif;
            font-weight: 300;
            font-size: 22px;
            text-align: center;
            margin: 25px 0;
        }

        &--meta {
            font-family: AndaleMono, monospace;
            font-weight: 300;
            text-align: center;
            color: #3c3b3b;
            margin-bottom: 15px;
        }

        &--section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &--desc {
            font-family: AvenirNextPro;
            font-weight: 300;
            text-align: center;
            max-width: 85%;
            margin-bottom: 15px;
        }

        &--link {
            display: block;
            width: 100%;
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            border: 1px solid black;
            padding: 0.5em 0px;
            text-align: center;
            transition: 200ms ease-in-out;

            &:hover {
                color: #ffffff;
                background-color: #000;
            }
        }
    }
}

// Fashion Hero
.TwoPostHero {
    position: relative;
    z-index: 20;
    height: calc(100vh - 80px);

    &__link {
        text-decoration: none;
        color: #ffffff;
    }

    &__backgroundImage {
        position: absolute !important;
        top: 0;
        height: 100%;
        width: 100%;

        &--left {
            clip-path: polygon(0 0, 0 100%, 100% 100%);
        }

        &--right {
            clip-path: polygon(100% 0, 0 0, 100% 100%);
        }

        &:hover {
            .TwoPostHero__tint {
                opacity: 0.75;
            }
        }
    }

    &__titleContainer {
        position: absolute;
        z-index: 10;

        &--left {
            bottom: 30px;
            left: 30px;
        }

        &--right {
            top: 30px;
            right: 30px;
            text-align: right;
        }
    }

    &__heading {
        font-family: Roboto;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 25px;
    }

    &__subheading {
        font-family: Roboto;
        font-weight: 500;
        font-size: 22px;
    }

    &__tint {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.25;
        transition: 300ms ease;
    }
}

// Article Template

.Article {
    margin-top: 150px;

    &__date {
        font-size: 18px;
        text-align: center;
        color: #272727;
    }

    &__heading {
        font-size: 50px;
        text-align: center;
        line-height: 3em;
        margin: 50px 0px;
        margin-bottom: 15px;
    }

    &__subheading {
        text-align: center;
        font-size: 14px;
        letter-spacing: 5px;
        margin: 50px 0px;
        margin-top: 15px;
    }

    &__author {
        text-align: center;
        margin: 50px 0px;
        letter-spacing: 2px;
    }

    &__container {
        max-width: 50%;
        margin: auto;

        & h4 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }


        & p {
            margin-bottom: 50px;
            font-size: 18px;
            line-height: 1.5em;

            & img {
                display: block;
                max-width: 700px;
                margin: auto;
            }
        }
    }

    &__credits {
        max-width: 50%;
        margin: auto;
        font-family: AndaleMono;

        &--heading {
            font-size: 20px;
            font-weight: bold;
            margin: 25px 0px
        }

        &--credit {
            font-size: 18px;
            margin: 5px 0px;
        }
    }
}

.Shop {
    max-width: 50%;
    margin: auto;

    &__price {
        font-family: TheLightFont;
        font-size: 40px;
        margin: 25px 0px;
    }

    &__heading {
        font-family: TheLightFont;
        font-size: 52px;
        font-weight: bold;
        max-width: 65%;
        margin: 25px 0px;
        margin-top: 0px;
        line-height: 1.2em;
    }

    &__rule {
        max-width: 35%;
        margin-left: 0px;
        border-style: solid;
        border-width: 2px;
        margin-bottom: 75px;
    }

    &__description {
        font-family: IowanOldStyle;
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 50px;
    }

    &__details {
        white-space: pre-line;
        font-family: AvenirNextPro;
        font-size: 17px;
        margin-bottom: 50px;
    }

    &__galleryImages {
        &--img {
            margin: 5px 0px;
        }
    }
}

.About {
    &__title {
        font-family: AvenirNextPro;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 50%;

        &--headings {
            display: flex;
            justify-content: center;
            align-items: center;

            &--heading {
                font-family: TheLightFont;
                font-size: 30px;
                margin: 50px;
                margin-left: 0px;
            }

            &--subheading {
                font-family: Pixeland;
                font-size: 30px;
            }
        }

        &--img {
            width: 50%;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 50%;

        &--description {
            max-width: 75%;
            font-family: IowanOldStyle;
            font-size: 18px;
            line-height: 1.2em;
        }

        &--founder {
            margin: 50px 0px;

            &--heading {
                display: inline-block;
                font-family: AvenirNextPro;
                font-size: 24px;
            }

            &--name {
                display: inline-block;
                font-family: BudhayantiScript;
                font-size: 24px;
                margin-left: 15px;
            }
        }

        &--social {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            &--heading {
                font-family: AvenirNextPro;
                font-size: 24px;
                margin-bottom: 25px;
            }
        }

        &--contact {
            text-align: center;

            &--heading {
                font-family: TheLightFont;
                font-size: 30px;
                margin: 25px 0px;
            }

            &--link {
                font-family: AvenirNextPro;
                font-size: 18px;
            }

            &--text {
                font-family: AvenirNextPro;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 25px;
            }
        }
    }
}

.Footer {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

    &__copyright {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
    }
}